{% extends 'inspeakers/base.html' %}

{% block title_block %}
  About Us
{% endblock %}

{% block body_block %}
<div>
    <h1 class = 'title'> About </h1>

    <!-- main body -->
    <div class="container" name="main body" >
    <div class="row my-3">
        <div class="col-9">
            <p>Is your team feeling a little...<strong> deflated? </strong><br/>
              Well at InSpeakers, our aim is to connect inspiring speakers with companies whose event budgets are <strong>anything but</strong>!
            </p>
            <p>We put the satisfaction of our customers at the forefront of everything we do. So you can feel confident that
              from when you first land on our home page to the conclusion of your event, we will be ensuring you spend every penny
              of that previously well invested money on the most intricantly planned and exhaustively billed 45 minutes of you and your employees lives.<br/>
            </p>
            <p>
              Whether you're planning a corporate event, a wellness weekend, or just need some change in your life after that nasty divorce, we have the speaker for you!<br/>
              Search for your perfect style of movitation using our clickable tags, or simply browse available speakers by top rated or most often favourited.<br/>
              Better yet, create an account and save your own list of favourite speakers! You can also check out the comments and ratings on each speakers personal profile page, where you'll find contact and booking details.
            </p>
            <p>
              Now, I know what you're thinking. "Wow, these speakers all look so great. In fact, I'm so <i>InSpired</i> that I'd like to share my knowledge far and wide
              while giving a fair percentage of my income to your site!"<br/>
              Well, you're in luck! Simply click the "Create Speaker Profile" button in your My Account area to get started on creating your <i>InSpeakers</i> profile and start changing lives, today!
            </p>
        </div>

        <!-- RHS buttons, only visible if user is logged in -->
        <div class="col-3">
              {% if user.is_authenticated %}
              <div class="card my-4 text-right">
                  <div class="card-body">
                      <div class="row my-2 justify-content-center">
                          <form action="myaccount/" method="get">
                              <button class="btn btn-primary my-2 px-2" type="submit">My Account</button>
                          </form>
                      </div>
                      <div class="row my-2 justify-content-center">
                          <form action="myfavourite/" method="get">
                              <button class="btn btn-primary my-2 px-2">My Favourites</button>
                          </form>
                      </div>
                  </div>
              </div>
            {% endif %}
      </div>
    </div>
{% endblock %}
