<!DOCTYPE html>
{% load staticfiles %}
{% load inspeakers_template_tags %}
<html lang="en">
<meta name="google-site-verification" content="9uk58ZbxJsMQOlKd_3NZ9nFYwDdCPecouzQyH9hsul4"/>
<script async src="https://cse.google.com/cse.js?cx=002858639642519775440:wqougxmojpz"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>
        Inspiring Speakers ——
        {% block title_block %}
        {% endblock %}
    </title>
    <base href="/inspeakers/">
</head>
<body>
<header style="background-color: #D0D0D0;">
    <div class="container" name="header">
        <div class="row">
            <div class="col-8 align-self-center">
                <h1 class="row mx-2 my-2 py-2" name="title"><font size="20">Inspiring Speakers</font></h1>
                <div style="overflow: auto; width:100%;">
                    <div class="row mx-2 my-2 py-2" name="tagline" style="height:100%;">
                        {% block tags_block %}
                            {% get_tags %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="col-4 align-self-center">
                <div class="row mx-2 mt-4 md-2 py-2 justify-content-end" name="login">
                    <form method="get" action="login">
                        <button class="btn btn-outline-primary px-4">Login</button>
                    </form>
                </div>
                <div class="row mx-2 my-2 py-2 justify-content-end" name="search">
                    <div style="width:100%;">
                        <div class="gcse-searchbox-only"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav style="background-color: #F0F8FF; border-style: solid; border-width: 1px 0px 1px 0px; border-color: #F0FFFF;">
        <div class="nav my-1 justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="home?order=rate">Top Rated Speaker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Speakers in My Area</a>
            </li>
        </div>
    </nav>
</header>
<div>
    {% block body_block %}
    {% endblock %}
</div>
<div>
    {% block sidebar_block %}
    {% endblock %}
</div>
<footer class="page-footer font-small blue-grey lighten-5">
    <div style="background-color: #5bc0de;">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">A Forty-Five Minute Talk Will Change Your Life!</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3 dark-grey-text">
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">Company Blurb</h6>
                <p class="text-justify"> Become a part of the Inspirational Speaker community so that you can connect
                    with world class winners who will change your life.</p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Website Links</h6>
                <p>
                    <a class="light-grey-text" href="#!">Your Account</a>
                </p>
                <p>
                    <a class="light-grey-text" href="#!">Highest Rated Speakers</a>
                </p>
                <p>
                    <a class="light-grey-text" href="#!">Your Favourite Speakers</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <p>Glasgow, UK</p>
                <p>Inspeakers@glasgow.ac.uk</p>
                <p> 0141 123 456</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center text-black-50 py-3">
        <a class="dark-grey-text" href=""> InspirationalSpeakers.com</a>
    </div>
</footer>
</body>
</html>
