{% if speakers %}
    {% for s in speakers %}
        <div class="card mb-3" style="max-width: 720px;">
            <div class="row no-gutters">
                <div class="col-md-5" style="overflow: hidden; position: relative; height: 200px;">
                        <img src="{{ s.picture }}" class="card-img" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </div>
                <div class="col-md-7"style="height: 200px;">
                    <div class="card-body">
                    <h5 class="card-title">{{s.name}}</h5>
                    <p class="card-text">{{s.description}}</p>
                    <a href="{% url 'inspeakers:speaker_profile' s.slug %}" class="card-link">Link</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <strong> There are no speakers present</strong>
{% endif %}