{% extends 'inspeakers/base.html' %}
{% load static %}

{% block title_block %}
Homepage
{% endblock %}
{% block body_block %}
    <div class="container" name="main body" >
        <div class="row mt-2">
            <div class="col-9">
                <h1>Welcome to {{description}}!</h1>
                <ul>Find your next motivational speaker.</ul>
                <div name="list">
                    {% if speakers %}
                        {% for s in speakers %}
                            <div class="card mb-3" style="max-width: 720px;">
                                <div class="row no-gutters">
                                    <div class="col-md-5" style="overflow: hidden; position: relative; height: 200px;">
                                            <img src="{{ MEDIA_URL }}{{s.picture}}" class="card-img" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                    </div>
                                    <div class="col-md-7"style="height: 200px;">
                                        <div class="card-body">
                                        <h5 class="card-title">{{s.name}}</h5>
                                        <p class="card-text">{{s.description}}</p>
                                        <a href="{% url 'inspeakers:speaker_profile' s.slug %}" class="card-link">Link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <strong> There are no speakers present</strong>
                    {% endif %}
                    <div class="row justify-content-end">
                        <ul class="pagination mx-2 my-2 justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="{{page.url}}/?page={{page.previous}}">Previous</a>
                            </li>
                            {% for p in pages %}
                                <li class="page-item"><a class="page-link" href="{{page.url}}/?page={{p.num}}">{{p.num}}</a></li>
                            {% endfor %}
                            <li class="page-item">
                                <a class="page-link" href="{{page.url}}/?page={{page.next}}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3">
                {% if user.is_authenticated %}
                <div class="card my-4 text-right">
                    <div class="card-body">
                        <div class="row my-2 justify-content-center">
                            <form action="myaccount/" method="get">
                                <button class="btn btn-primary my-2 px-2" type="submit">My Account</button>
                            </form>
                        </div>
                        <div class="row my-2 justify-content-center">
                            <form action="myfavourite/" method="get">
                                <button class="btn btn-primary my-2 px-2">My Favourites</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
