{% extends 'inspeakers/base.html' %}
<!-- we could also add {% load staticfiles %} here
    to have the graphics needed for the page -->

{% block title_block %}
Speaker profile
{% endblock %}
{% block body_block %}
<div>
    <div class="container">
        <form id="login_form" method="post" action="{% url 'inspeakers:login' %}">
            {% csrf_token %}
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" id="uname" name="uname" required><br/>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="psw" name="psw" required><br/>
            <input type="submit" value="Login">
        </form>
    </div>
</div>

{% endblock %}

