{% extends 'inspeakers/base.html' %}
{% load staticfiles %}

{% block title_block %}
My Account
{% endblock %}
{% block body_block %}
<div class="container" name="mainbody">
    <div class="row mt-4">
        <div class="col-5 my-auto">
            <h1><span class="label label-default">My Account</span></h1>
            <img src="{{ MEDIA_URL }}{{picture}}"
                 class="img-fluid img-thumbnail" alt="My Profile Picture"/>
        </div>
        <div class="col-3 my-auto">
            <div class="form-group">
                <form action="{% url 'inspeakers:my_account' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
                    <label for="exampleInputEmail1">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username"
                           placeholder="{{user.username}}">
                    <small id="emailHelp" class="form-text text-muted">Your username may be your email address</small>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                    </div>
                    <input class="btn btn-primary my-2 px-2" type="submit" value="Change">
                </form>
            </div>
        </div>
    </div>
    <div>
        <a href="{% url 'inspeakers:my_favourite'%}"><button class="btn btn-primary my-2 px-2"> My Favourites</button></a>
        <a href="{% url 'inspeakers:my_reviews'%}"><button class="btn btn-primary my-2 px-2"> My Reviews</button></a>
    </div>
</div>
{% endblock %}
