{% extends 'inspeakers/base.html' %}
{% load static %}

{% block title_block %}
My Account
{% endblock %}
{% block body_block %}
    <div class="container" name="header">
        <div class="row">
            <div class="col-8 align-self-center">
                <div class="row my-2 py-2" name="title"><font size="20">Inspiring Speakers</font></div>
                <div class="row my-2 py-2" name="tagline">
                    <a href="#" class="badge badge-primary mx-1">Tag1</a>
                    <a href="#" class="badge badge-primary mx-1">Tag2</a>
                    <a href="#" class="badge badge-primary mx-1">Tag3</a>
                    <a href="#" class="badge badge-primary mx-1">Tag4</a>
                </div>
            </div>
            <div class="col-4 align-self-center">
                <div class="row mt-4 md-2 py-2 justify-content-end" name="login">
                    <button class="btn btn-outline-primary px-4">Login</button>
                </div>
                <div class="row my-2 py-2 justify-content-end" name="search">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Top Rated Speaker</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Speakers in My Area</a>
    </li>
</ul>
<body>
<div class="container" name="mainbody">
    <div class="row mt-4">
        <div class="col-5 my-auto">
            <h1><span class="label label-default">My Account</span></h1>
            <img src="https://live.staticflickr.com/3853/15098643837_9bab914bea_z.jpg"
                 class="img-fluid img-thumbnail" alt="My Profile Picture"/>
        </div>
        <div class="col-3 my-auto">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter Username">
                <small id="emailHelp" class="form-text text-muted">Your username may be your email address</small>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="col-3 my-auto">
            <div class="row justify-content-end">
                <button class="btn btn-primary my-2 px-2">My Account</button>
            </div>
            <div class="row justify-content-end">
                <button class="btn btn-primary my-2 px-2">My Bookings</button>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-primary my-2 px-2"> My Favourites</button>
        <button class="btn btn-primary my-2 px-2"> My Bookings</button>
        <button class="btn btn-primary my-2 px-2"> My Reviews</button>
    </div>
</div>
{% endblock %}
