<div class='review_widget'>
    <div class='review_image'>
        <img src="{{ MEDIA_URL }}{{ review.user.profile_image }}" alt='Image of'/>
    </div>
    <div class='review_details'>
        <div class='review_titlerating'>
            <div class ='review_title'>
                <div class='review_date'>{{ review.date }}</div>
           </div>
           <div class='review_rating'>
                {% with rating_type='average_rating' rating_initial=review.rating %}
                  {% include 'speakerprofile/starrating.html'%}
                {% endwith %}
            </div>
        </div>

        <div class='review_content'>
                {{ review.content }}
        </div>
    </div>
</div>
