{% extends 'inspeakers/base.html' %}

{% block title_block %}
Speaker profile
{% endblock %}

<!-- Creating a signup form with text fields for username, email and password,
and a sign up button for submitting the information -->

{% block body_block %}
<div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <form id="login_form" method="post" action="{% url 'inspeakers:sign_up' %}">
        {% csrf_token %}
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="username" name="username" required>
        <br/>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" id="email" name="email" required>
        <br/>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="psw" name="password" required>
        <br/>
        <div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>


{% endblock %}