{% extends 'inspeakers/base.html' %}
{% load static %}

{% block title_block %}
  Speaker profile
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row">
      <img src=""{% static 'images/speakertest.jpg' %}" alt="Speaker profile picture" />
</div>

<div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Speaker Name</p> <small><cite title="Source Title"> Glasgow, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> myemailaddress@gmail.com
                <br/>
                <i class="glyphicon glyphicon-globe"></i> www.mywebsitegoeshere.com
                <br/>
            </p>
        </div>

{% endblock %}
